<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <td>No</td>
            <td>Brand</td>
            <td>Color</td>
            <td>Price</td>
        </tr>
        <tr th:each="car,index:${cars}">
            <td th:text="${index.count}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.price}"></td>
        </tr>
    </table>
</body>
</html>